@inherits LayoutComponentBase

@using Radzen
@inject NotificationService NotificationService

<div class="main-layout">


    <div class="content">
        @Body
    </div>

    <RadzenNotification />
</div>